<!DOCTYPE html>

<html>
   <head>
         <meta charset="UTF-8">
         

         <!-- The welcome struct (shown in the main.go code) is received within the HTML and we just need to use the . operator and retrieve the information we want -->
         <title>Welcome {{.Name}} Machine</title>
   </head>
   <body>
      <div class="welcome center"><h1>Welcome on my {{.Name}} machine</h1></div>

      <p>select and option to see system's information</p>

      <ul style="list-style-type:circle;">
         <li> <a href="/getCPUdata">CPU infos</a><br></li>
         <li><a href="/getDiskdata"> Disk infos</a><br></li>
         <li> <a href="/getHostInfos"> Host infos</a><br></li>
         <li><a href="/getProcInfos"> Processes infos</a><br></li>
         <li> <a href="/getMemoryInfos"> Memory infos</a><br></li>
         <li><a href="/getInterfaceInfos"> Network interface infos</a><br></li>
         <li><a href="/PrintProcInfos">  Display PID Processes  and executable name " </a><br></li>

         <li><a href="/PrintProc CPUInfos"> Display PID processes and their cup utilisation</a><br></li>
         <li> <a href="/killpform"> kill process</a><br></li>
      </ul> 
   
      
   </body>
</html>